---
import { config } from "../../blog.config";
import BlogTitle from "./BlogTitle.astro";
import Navigation from "./Navigation.astro";
---

<section class="my-8 md:mt-12 md:mb-16">
  <div class="flex justify-between items-baseline gap-6">
    <BlogTitle />
    <Navigation class="hidden md:inline-flex" />
  </div>

  <p class="mt-2 text-muted text-base md:text-lg">{config.description}</p>

  <Navigation class="mt-3 inline-flex md:hidden" />
</section>
