---
interface Props {
  class?: string;
}

const { class: className = "" } = Astro.props;
---

<ul class={`${className} font-serif text-base md:text-lg space-x-5 text-muted`}>
  <li class="inline-block">
    <a
      href="/about"
      class="whitespace-nowrap hover:text-accent underline-offset-4 hover:underline"
    >
      About
    </a>
  </li>
  <li class="inline-block">
    <a
      href="/daily"
      class="whitespace-nowrap hover:text-accent underline-offset-4 hover:underline"
    >
      TIL
    </a>
  </li>
  <li class="inline-block">
    <a
      href="/rss/feed.xml"
      class="whitespace-nowrap hover:text-accent underline-offset-4 hover:underline"
    >
      RSS
    </a>
  </li>
</ul>
