@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * post descriptions
 */
.post-item p {
    @apply leading-relaxed;
}

/*
 * gfm task lists in posts
 */
ul.contains-task-list {
    @apply ml-0 pl-0;
}

.task-list-item {
    @apply list-none;
}

/*
 * code blocks
 */
pre>code {
    display: grid;
    @apply m-0;
}

pre {
    --tw-prose-pre-bg: initial;
}

article blockquote {
   margin-inline: -2vw;
}

.callout {
    position: relative;
    padding: 1rem;
    margin-inline: -2vw;
    @apply bg-sky-100 dark:bg-stone-900;
    @apply border-blue-700 dark:border-sky-400;
}

.callout-title, .callout-icon {
    display: none;
}

.callout-content > p {
    margin-top: 0;
    @apply font-extrabold;
    @apply leading-loose;
}


@media (prefers-color-scheme: dark) {
    pre[data-theme='dark'] {
        @apply bg-stone-900;
    }

    pre[data-theme='light'],
    code[data-theme='light'] {
        display: none;
    }
}

@media (prefers-color-scheme: light),
(prefers-color-scheme: no-preference) {

    pre[data-theme='light'] {
        @apply bg-sky-50;
    }

    pre[data-theme='dark'],
    code[data-theme='dark'] {
        display: none;
    }
}
