@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * post descriptions
 */
.post-item p {
    @apply leading-relaxed;
}

/*
 * gfm task lists in posts
 */
ul.contains-task-list {
    @apply ml-0 pl-0;
}

.task-list-item {
    @apply list-none;
}

/*
 * code blocks
 */
/* pre > code {
    display: grid;
} */

/* pre {
    --tw-prose-pre-bg: initial;
} */

article blockquote {
    margin-inline: -2vw;
}

.callout {
    position: relative;
    padding: 1rem;
    margin-inline: -2vw;
    @apply bg-stone-50 dark:bg-stone-900;
}

.callout-title,
.callout-icon {
    display: none;
}

.callout-content > p {
    margin-top: 0;
    @apply leading-loose;
}

code[data-theme*=" "],
code[data-theme*=" "] span {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
}

@media (prefers-color-scheme: dark) {
    code[data-theme*=" "],
    code[data-theme*=" "] span {
        color: var(--shiki-dark);
        background-color: var(--shiki-dark-bg);
    }
}
